{% extends "pyBuchaktion/books/base.html" %}{% load i18n view_tools buchaktion_tags %}

{% block noresults %}
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h4 class="panel-title">
        {% trans "Sorry, no books matching this query were found!" %}
      </h4>
    </div>
    <div class="panel-body">
      {% url "pyBuchaktion:books_all" as full_list %}
      {% url "pyBuchaktion:book_propose" as propose %}
      {% with form|form_as_dict|urlencode as query %}
        {% with full_list|add:query as full_list_query %}
          {% message "book_not_found" full_list=full_list_query propose=propose %}
        {% endwith %}
      {% endwith %}
    </div>
  </div>
{% endblock noresults %}