{% extends "pyBuchaktion/books/base.html" %}{% load i18n %}

{% block noresults %}
	<div class="panel panel-danger">
        <div class="panel-heading">
            <h4 class="panel-title">
                {% trans "Sorry, no books matching this query were found!" %}
            </h4>
        </div>
        <div class="panel-body">
            {% trans "If you want to propose this book to us, you can write us an email at" %}
            <a href="mailto:buchaktion@fachschaft.informatik.tu-darmstadt.de">
                buchaktion@fachschaft.informatik.tu-darmstadt.de
            </a>
        </div>
    </div>
{% endblock noresults %}