{% extends "pyBuchaktion/books/base.html" %}{% load i18n buchaktion_tags %}

{% block noresults %}
	<div class="panel panel-danger">
        <div class="panel-heading">
            <h4 class="panel-title">
                {% trans "Sorry, no books matching this query were found!" %}
            </h4>
        </div>
        <div class="panel-body">
            {% url "pyBuchaktion:book_propose" as propose %}
            {% message "book_not_found_all" propose=propose email="buchaktion@fachschaft.informatik.tu-darmstadt.de" %}
        </div>
    </div>
{% endblock noresults %}