{% extends "pyBuchaktion/search_base.html" %} {% load view_tools i18n %}

{% block search_box_info %}
    <a href="{% url "pyBuchaktion:modules" %}">{% trans "Search for modules" %}</a>
{% endblock search_box_info %}

{% block search_content %}
    {% if books %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
            {% trans "Books" %}
            <span class="pull-right">
                {% list_limits limit_data get_params %}
            </span>
            </h4>
        </div>
        {% include "pyBuchaktion/tags/table_books.html" %}
    </div>
    {% else %}
        {% block noresults %}{% endblock noresults %}
    {% endif %}

    {% include "bootstrap/pagination.html" %}
{% endblock search_content %}
