{% extends "page.html" %} {% load cms_tags view_tools bootstrap_tags i18n %}

{% block content %}
        {% if book.state != 'AC' %}
        <div class="alert alert-{{ book.state|get_state_class }}">
                {{ book.state|get_state_text }}
        </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i>{{ book.title }}</i>
                </h4>
            </div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>{% trans "Author" %}</th>
                        <th>{% trans "Publisher" %}</th>
                        <th>{% trans "ISBN-13" %}</th>
                        <th>{% trans "Publication year" %}</th>
                    </tr>
                    <tr>
                        <td>{{ book.author }}</td>
                        <td>{{ book.publisher }}</td>
                        <td>{{ book.isbn_13 }}</td>
                        <td>{{ book.year }}</td>
                    </tr>
                </tbody>
            </table>
            {% block panel_footer %}{% endblock panel_footer %}
        </div>

{% block book_panels %}{% endblock book_panels %}{% endblock content %}
