{% extends "page.html" %} {% load view_tools bootstrap_tags i18n %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{% trans "Search" %}</h4>
        </div>
        <div class="panel-body">
            <form method="GET" class="form-inline">
                {% for field in form %}
                {% form_field field %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
            </form>
        </div>
    </div>

    {% if modules %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                {% trans "Modules" %}
                <span class="pull-right">
                    {% list_limits get_params limit limit_options limit_default %}
                </span>
            </h4>
        </div>
        <div class="list-group">
        {% for module in modules %}
            <a href="{% url "pyBuchaktion:module" pk=module.id %}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ module.name }}</h4>
                TuCaN ID: <i>{{ module.module_id }}</i>
            </a>
        {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        {% trans "Sorry, no modules matching this query were found!" %}
    </div>
    {% endif %}
{% endblock content %}
