{% extends "pyBuchaktion/search_base.html" %} {% load view_tools bootstrap_tags i18n bootstrap3 %}

{% block search_content %}

    {% if modules %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                {% trans "Modules" %}
                <span class="pull-right">
                    {% list_limits limit_data get_params %}
                </span>
            </h4>
        </div>
        {% include "pyBuchaktion/tags/list_group_modules.html" %}
    </div>
    {% else %}
    <div class="alert alert-danger">
        {% trans "Sorry, no modules matching this query were found!" %}
    </div>
    {% endif %}
    {% include "bootstrap/pagination.html" %}
{% endblock search_content %}
