{% extends "pyBuchaktion/page.html" %} {% load buchaktion_tags i18n %}

{% block content %}
{{ block.super }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{ module }}</h4>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>{% trans "Last offered" %}:</dt>
                    <dd>{{ module.last_offered }}</dd>
                    <dt>{% trans "Category" %}:</dt>
                    <dd>{{ module.category }}</dd>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{% trans "Literature" %}</h4>
            </div>
            {% if literature %}
                {% table_books literature %}
            {% else %}
            <div class="panel-body">
                {% url "pyBuchaktion:book_propose" as propose %}
                {% message "module_no_literature" propose=propose %}
            </div>
            {% endif %}
        </div>

{% endblock content %}
