{% extends "pyBuchaktion/module_base.html" %}{% load bootstrap3 i18n %}

{% block content %}
{{ block.super }}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Add student literature recommendation" %}</h3>
            </div>
            <div class="panel-body">
            <form method="POST">
                {% bootstrap_form form %}
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">{% trans "Send" %}</button>
            </form>
            </div>
        </div>

{% endblock content %}
