{% extends "pyBuchaktion/module_base.html" %} {% load buchaktion_tags i18n %}

{% block content %}
{{ block.super }}

        {% if literature %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{% trans "Literature" %}</h4>
            </div>
            <div class="panel-body">
                {% message "module_literature" %}
            </div>
            <div class="book-grid">
                {% include "pyBuchaktion/tags/grid_books_header.html" %}
                {% grid_books literature %}
            </div>
        </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{% trans "Recommendations by other students" %}</h4>
            </div>
            <div class="panel-body">
                {% url "pyBuchaktion:book_propose" as propose %}
                {% url "pyBuchaktion:addbook" pk=module.id as addbook %}
        {% if recommendations %}
                {% message "module_recommendations" propose=propose addbook=addbook %}
            </div>
            <div class="book-grid">
                {% include "pyBuchaktion/tags/grid_books_header.html" %}
                {% grid_books recommendations %}
        {% else %}
                {% message "module_no_recommendations" propose=propose addbook=addbook %}
        {% endif %}
            </div>
        </div>

{% endblock content %}
