{% extends "page.html" %} {% load cms_tags i18n %}

{% block content %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{ module }}</h4>
            </div>
            <div class="panel-body">
                <b>{% trans "Last offered" %}:</b> {{ module.last_offered }}
            </div>
        </div>

    {% if module.literature.all %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{% trans "Literature" %}</h4>
            </div>
            <div class="list-group">
        {% for book in module.literature.all %}
                <a class="list-group-item" href="{% url "pyBuchaktion:book" book_id=book.id %}">
                    {{ book }}
                </a>
        {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}
