{% extends "pyBuchaktion/page.html" %} {% load buchaktion_tags view_tools i18n %}

{% block content %}
{{ block.super }}
    <div class="panel panel-{{ order.status|get_status_class }}">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Order #" %}{{ order.id }}</h3>
        </div>
        <div class="panel-body">
        {% block panel-body %}
            {% if order.book.state == "PP" %}
                {% message "proposal_order_intro" %}
            {% else %}
                {{ order.status|get_status_text }}
            {% endif %}
            {% if order.hint %}
                <br/><b>{% trans "Hint" %}:</b> {{ order.hint }}
            {% endif %}
            {% if order.status == "PD" %}
                {% message "order_marked_date" date=order.order_timeframe.end_date|date %}
            {% endif %}
        {% endblock panel-body %}
        </div>
        {% if order.status == "PD" %}
        <div class="panel-footer">
        {% block panel-footer %}
            <a href="{% url "pyBuchaktion:order_abort" pk=order.id %}" class="btn btn-danger">
                {% trans "Abort order" %}
            </a>
        {% endblock panel-footer %}
        </div>
        {% endif %}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Book" %}: {{ order.book.title }}</h3>
        </div>
        <div class="list-group">
            <a class="list-group-item" href="{% url "pyBuchaktion:book" pk=order.book.id %}">
                {% dlist_book order.book %}
            </a>
        </div>
    </div>
{% endblock content %}