{% extends "pyBuchaktion/order_detail.html" %} {% load cms_tags view_tools i18n %}

{% block panel-body %}
            {% trans "You are about to abort the order for the book noted below. Do you really want to do that?" %}
{% endblock panel-body %}

{% block panel-footer %}
            <form method="post">
                {% csrf_token %}
                <div class="btn-group" style="margin-left: auto; margin-right: 0" role="group" aria-label="actions">
                    <button class="btn btn-danger" name="action" type="submit" value="Abort">
                        {% trans "Yes, Abort the order" %}
                    </button>
                    <button class="btn btn-info" name="action" type="submit" value="Cancel">
                        {% trans "No, keep the order" %}
                    </button>
                </div>
            </form>
{% endblock panel-footer %}