{% extends "page.html" %} {% load sekizai_tags static i18n bootstrap3 %}

{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" type="text/css" href="{% static "pyBuchaktion/pyBuchaktion.css" %}"/>
    {% endaddtoblock "css" %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{% trans "Search" %}</h4>
        </div>
        <div class="panel-body">
            <form method="GET" class="form-inline search-form">
                {% bootstrap_form form layout='inline' bound_css_class='' %}
                <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
            </form>
            {% block search_box_info %}{% endblock search_box_info %}
        </div>
    </div>

    {% block search_content %}{% endblock search_content %}
{% endblock content %}