{% extends "page.html" %} {% load cms_tags i18n %}

{% block content %}
	{% if book.state == 'RJ' %}
		<div class="alert alert-danger">
			{% trans "This book has been rejected, and may not be ordered" %}
		</div>
	{% elif book.state == 'OL' %}
		<div class="alert alert-warning">
			{% trans "This book has been marked obsolete, a new version is available. It may not be ordered" %}
		</div>
	{% elif book.state == 'PP' %}
		<div class="alert alert-info">
			{% trans "This book has been proposed, but has yet to be confirmed by our team. Until then it may not be ordered." %}
		</div>
	{% endif %}
		<h2 class="list-group-item-heading">{{ book.title }}</h2>
		<b>{% trans "Author" %}:</b> <i>{{ book.author }}</i><br/>
		<b>ISBN:</b> <i>{{ book.isbn_13 }}</i><br/>
		{% if book.tucanmodule_set.all %}
		<b>{% trans "Recommended by" %}:</b>
		<ul>
			{% for mod in book.tucanmodule_set.all %}
			<li><a href="{% url "pyBuchaktion:module" module_id=mod.id %}">{{ mod }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
{% endblock content %}
