table.table.book-list > tbody > tr.book-row:nth-child(4n+1),
table.table.book-list > tbody > tr.book-row-content:nth-child(4n+2) {
    background-color: #eee;
}

table.table.book-list > tbody > tr.book-row-content > td {
    border-top: 0 !important;
    padding-top: 0;
    vertical-align: middle;
    text-align: left;
}

form.form-inline.search-form > * {
    margin: 5px;
}

form.form-inline.search-form {
    text-align: left;
}

table.order-table > tr.order > td > b,
table.order-table > tbody > tr.order > td > b {
    line-height: 30px;
}

table.order-table > tr.order > td,
table.order-table > tbody > tr.order > td {
	vertical-align: middle;
}

table.order-table > tbody > tr.order > td > a {
    float: right;
}

table.order-table > tbody > tr.order > td > span.label {
    line-height: inherit;
    margin: 5px auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.panel>.panel-body>*:last-child, dl.dlist-book, .list-group-item>*:last-child {
    margin-bottom: 0;
}

.book-grid-row > div > div.display {
    line-height: 1.5em;
    padding: 0.5em 1em;
}

.book-grid-header > div > div.display {
    padding: 0.5em 1em;
    font-weight: bold;
}

.book-grid > h4 {
    padding: 0.75em 0.9em;
    border-bottom: 1px solid #DDD;
    margin: 0;
}

.book-grid > hr {
    border-color: #ddd;
}

.book-grid > div:not(.book-grid-header):nth-of-type(2n) {
    background-color: #eee;
}

.book-grid > div.grid-book:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.no-margin {
    margin: 0;
}