{% load i18n buchaktion_tags %}
<dl class="dl-horizontal dlist-book">
    <dt>{% trans "Author" %}</dt>
    <dd>{{ book.author }}</dd>
    <dt>{% trans "Publisher" %}</dt>
    <dd>{{ book.publisher }}</dd>
    <dt>{% trans "ISBN-13" %}</dt>
    <dd>{{ book.isbn_13|isbn }}</dd>
    <dt>{% trans "Publication year" %}</dt>
    <dd>{{ book.year }}</dd>
    <dt>{% trans "links" as tr_links %}{{tr_links|capfirst}}</dt>
    <dd><a href="https://books.google.de/books?isbn={{book.isbn_13}}">https://books.google.de/books?isbn={{book.isbn_13}}</a></dd>
</dl>
