{% load i18n view_tools buchaktion_tags %}
<tr class="book-row">
    <th colspan="3">{{ book.title }}</th>
    <td colspan="3" style="text-align: right">
        <div class="display">
            {% if book.state != 'AC' %}
            <span class="label label-{{ book.state|get_state_class }}">
                {{ book.statename }}
            </span>
            {% elif book.orderset|length > 0 %}
            <span class="label label-success">
                {% trans "Ordered" %}
            </span>
            {% else %}
            <a href="{% url "pyBuchaktion:book_order" pk=book.id %}">
                {% trans "Order this book" %}
            </a>
            {% endif %}
        </div>
    </td>
</tr>
<tr class="book-row-content">
    <td>&nbsp;</td>
    <td>{{ book.author }}</td>
    <td>{{ book.isbn_13|isbn }}</td>
    <td>{{ book.publisher }}</td>
    <td>{{ book.year }}</td>
    <td style="text-align: right">
        <a class="btn btn-default" href="{% url "pyBuchaktion:book" pk=book.id %}">{% trans "Details" %}</a>
    </td>
</tr>
