{% extends "pyBuchaktion/admin/admin_action_page.html" %}
{% load i18n l10n %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>{{ intro }}</p>
    <textarea name="text" rows="10"></textarea><br/><br/>
    <p>{% trans "The mail will be sent to the following students" %}</p>
    <ul>{{ queryset|unordered_list }}</ul>
    <div style="overflow: hidden">
        {% for obj in queryset %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
        {% endfor %}
        <input type="hidden" name="action" value="{{ action }}" />
        <input class="default" type="submit" name="_proceed" value="{% trans "Send" %}"/>
        <input style="float:right; margin-right: 10px;" type="submit" name="_cancel" value="{% trans "Cancel" %}"/>
    </div>
</form>
{% endblock %}